extends ../layout
append css
    link(rel='stylesheet', href='/components/font-awesome-4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='/css/user.css')
block main
    block content
