doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title=title
    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')

      script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
      script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
  body
    block main
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
        script(src="/components/jquery/dist/jquery.js")
        script(src="/components/bootstrap/dist/js/bootstrap.js")

      block scripts